.authorization__button {
  margin-top: 186px;
  background: #fff;
  border-radius: 2px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 22px;
  width: 358px;
}