.popup__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close.svg);
    border: none;
    top: -40px;
    right: -40px;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 50ms ease;
}

@media (max-width: 540px) {
    .popup__close {
        top: -30px;
        right: 0;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
}


.popup__close:hover {
    opacity: 0.6;
}