.element__trash {
    width: 18px;
    height: 19px;
    border: none;
    background-image: url(../../../images/trash.svg);
    background-color: transparent;
    position: absolute;
    left: 244px;
    top: 20px;
}