@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar-cover.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__status/profile__status.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/button/button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/elements__trash.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__container-title/element__container-title.css);
@import url(./blocks/element/__container-like/element__container-like.css);
@import url(./blocks/element/__container-like/_active/element__container-like_active.css);
@import url(./blocks/element/__container/_like-count/element__container_like-count.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__input/popup__input-error.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/popup__heading-del.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__container/popup__container-img.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/_image/popup_image.css);



