.header {
    max-width: 880px;
    border-bottom: 1px solid rgba(84,84,84,.7);
    margin: auto;
    padding: 45px 0 41px;
}

@media (max-width: 768px) {
    .header {
        max-width: 618px;
        padding: 45px 40px 41px;
    }
}


@media (max-width: 425px) {
    .header {
        max-width: 425px;
        padding: 28px 0 31.6px;
    }
}
