.header__button {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 425px) {
  .header__button {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
}